body{
 font-family: "Open Sans", sans-serif;
}
* {
  padding: 0%;
  margin: 0%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 90px;
  margin: 24px 0px;
}

.nav-link ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.nav-link a {
  text-decoration: none;
  color: #575757;
  font-size: 25px;
}
.nav button {
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #1d4ed8;
  color: white;
  width: 200px;
  font-size: 20px;
}

/* nav end */

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./image/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header-content {
  color: white;
  display: grid;
  text-align: center;
  gap: 10px;
}

.header-content h1{
  font-size: 80px;
}

.header-content button{
  padding: 25px 50px;
  border-radius: 8px;
  border: none;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  justify-self: center;
  margin-top: 289px;
}
/* head end */  

.section-main{
  text-align: center ;
  padding: 70px 90px;
}
.section-main h2{
  font-size: 50px;
  margin-bottom: 56px;
}
.section-div-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  text-align:left ;
}
.section-div-2{
   border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.section-div-2 img{
  width: 100%;
}
.section-div-3{
  padding: 30px;
}
.section-div-3 span{
  color: #2563eb;
font-size: 15px;
font-weight: 600;
}
.section-div-3 h3{
  margin: 8px 0px  ;
  font-size: 30px;
  font-weight:bold ;
}
.section-div-3 p{
  font-size: 15px;
  color: #575757;
  font-weight: 400;
}
/* Meet the Speakers ends */
.section-card{
  text-align: center;
  padding: 20px 10px;
}
.section-card h2{
margin-bottom: 10px;
font-size: 60px;
}
.p{
  padding: 10px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #575757;
}
.section-div-card{
  display:grid ;
  grid-template-columns:repeat(3, 1fr);
  text-align:left;
  gap: 30px;
  padding: 20px 100px;
  margin: 10px 200px;
  justify-content: center
}
.section-div-card-1{
  background-color:;
  padding: 50px;
 display: flex;
 flex-direction: column;
 border:1px solid #e5e5e5;
 padding: 30px;
 border-radius: 10px;
}
.section-div-card-1 h3{
  font-size: 50px;
 margin: 10px 0px 2px;
}
.card-p{
  font-size: 25px;
  color: #888888;
  font-weight: bold;
}
.per-person{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid #575757 1px;
}

.section-div-card-1 ul{
margin-left: 20px;
padding: 10px;
}
.section-div-card-1 ul li{
  padding-left: 1px;
  margin-bottom: 14px;
  font-size: 20px;
}
.Team{
  background-color: #e5e7eb;
}
.pro{
  background-color: #0d1b2a;
  color: white;
}
.standard{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #1d4ed8;
  background-color: white;
  color: #1d4ed8;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
.contact{
  padding: 20px;
  border-radius: 8px;
  border: #0d1b2a solid 1px;
  background-color:white;
  color: #0d1b2a;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
.pro p{
  font-size: 25px;
  color:#2563eb;
  font-weight: bold;
}
.pro-button{
  padding: 20px;
  border-radius: 8px;
  border: none;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

  